.main{
    margin-top: 40px;
    margin-left: 20px;
}

h1{
    font-family: 'Wendy One', sans-serif; 
    font-size: 60px;

}

h2{ 
   
    font-family: 'Wendy One', sans-serif; 
    font-size: 60px;
}

p{
contain: content;

}
