.main{
    margin-top: 40px;
    margin-left: 20px;
}

h1{
    font-family: 'Wendy One', sans-serif; 
    font-size: 60px;
}

h2{
    font-family: 'Wendy One', sans-serif; 
    font-size: 40px;
}

p{
    font-style: italic;
    font-size: 25px;
    margin-top: 30px;
}