.results-container{
    height: 100%;
    
}

.resturaunt-container{
    border: 1px solid black;
    height: 700px;
    margin-left: 15px;
    min-height: 100%;
    padding-left: 10px;
    
}

.activity-container{
    border: 1px solid black;
    height: 700px;
    margin-right: 15px;
    min-height: 100%;
    padding-left: 10px;
    

}

.btn-results{
    float: right;
    background-color: black;
    color: #EC576B;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Wendy One', sans-serif;
    border-style: solid ;
    border-color: #4EC5C1;
    border-width: 4px;
    margin-top: 20px;
    margin-right: 15px;
    padding: 20px;
}

