.btn {
    float:right;
    background-color: black;
    color: #EC576B;
    font-weight: bold;
    font-family: 'Wendy One', sans-serif;
    letter-spacing: .05em;

    border-style: solid ;
    border-color: #4EC5C1;
    border-width: 4px;
    margin-top: 20px;
    margin-right: 15px;
}
.btn:hover {
    background-color:#EC576B;
    color: black ;
    border-color: black;
    
}


.btn-1{
    background-color: #4ec5c1;
    color:black;
    border-style: solid;
    border-color: #4EC5C1;
    border-width: 4px;
}
.btn-1:hover {
    background-color:#4ec5c1;
    color:black;  
    border-color:#4EC5C1;
    
}
.modal-body{
    background-color: white;
    color:black;
    border-style: solid;
    border-color:#4EC5C1;
    border-width: 7px;
    font-size: large; 
    font-weight: bold;     
}
.modal-content{
    background-color: black;
    color:#EC576B;
    border-style: solid;
    border-color:#4EC5C1;
    border-width: 7px;
}

.modal-header{
background-color: black;
color:#EC576B;
border-style: solid;
border-color:#4EC5C1;
border-width: 7px;
text-align: center;
font-size: xx-large;
font-weight: bold;
}

.modal-title{
    background-color: black;
    color:#EC576B;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;  

}

.close{
    color: #4ec5c1;
}
