.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap{
    flex:1;
}

.alert{
    background-color: #4EC5C1;
    text-align: center;
}

.btn2 {
    
    background-color: black;
    color: #e74944;
    font-weight: bold;
    font-family: 'Wendy One', sans-serif;
    letter-spacing: .05em;
    font-size: 30px;
    border-style: solid ;
    border-color: #4EC5C1;
    border-width: 4px;

}
.btn2:hover {
    background-color:#e74944;
    color: black ;
    border-color: black;
    
}