.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding:0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
    
}

.toggle-button-line{
    width: 30px;
    height: 3px;
    background: #4EC5C1;
}

/*---------Media Query All - 599px --------------*/

@media all and (max-device-width: 600px) {
    .toggle-button{
        display: flex;
        margin-left: 20px;
        margin-right: 0;
    }
}

/*---------Media Query 600px - 799px --------------*/

@media (min-width: 601px) and (max-device-width: 767px) {
    .toggle-button{
        display: flex;
        margin-left: 20px;
    }
}

/*---------Media Query 800px 1455px--------------*/

@media (min-width: 768px) and (max-device-width: 992px) {
    .toggle-button{
        display: flex;
        margin-left: 20px;
    }
}
