.side-drawer {
    height: 100%;
    background-color: #EC576B;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

.side-drawer.open{
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: .5rem 0;
}

.side-drawer a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    background-color: #4EC5C1;
    padding-right: 25px;
}




