.jumboTxt{
    font-family: 'Wendy One', sans-serif;
    font-size: 300%;

}

.manTxt{
    font-family: 'Wendy One', sans-serif;
    font-size: 115%;
    letter-spacing: .1em;

}

.button {

color: black;

}
