.jumboTxt{
    font-family: 'Wendy One', sans-serif;
    font-size: 200%;

}

.manTxt{
    font-family: 'Wendy One', sans-serif;
    font-size: 115%;
    letter-spacing: .1em;
    padding-top: 35px;

}

.button {

color: black;

}


.results{
    height: 200px;
}
.rDates {
    font-family: 'Wendy One', sans-serif;
    text-justify: auto;
    font-size: inherit;
  
}

.titleBlk {
 height: 20;

}