.jumboTxt {
    font-family: 'Wendy One', sans-serif;
    font-size: 200%;
}

.manTxt {
    font-family: 'Wendy One', sans-serif;
    font-size: 115%;
    letter-spacing: .1em;
    padding-top: 15px;
}

.button {
    color: black;
}

.results {
    height: 200px;
}

.rDates {
    font-family: 'Wendy One', sans-serif;
    text-justify: auto;
    font-size: 250%;
    line-height: 20px;
}
.rDates-1 {
    font-family: 'Wendy One', sans-serif;
    text-justify: auto;
    font-size: 100%;
    line-height: 10px;
}

.titleBlk {
    height: 20;
}

.form-1 {
    border-style: solid;
    border-color: #4EC5C1;
    border-width: 7px;
    border-radius: 5px;
}

.btn {
    float: left;
    background-color: black;
    color: #EC576B;
    font-weight: bold;
    font-family: 'Wendy One', sans-serif;
    letter-spacing: .05em;
    border-style: solid;
    border-color: #4EC5C1;
    border-width: 4px;
    margin-top: 20px;
    margin-right: 15px;
}

.filterText {
    font-family: 'Wendy One', sans-serif;
    align-content: center;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.checkBox {
    display: flex;
    margin-left: 5px;
}

Form.Group {

    margin: 4px;
}
