  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 8px solid #4ec5c1;
    height: 100px;
    background-color: black;
    text-align: center;
    
  }
  

  /*---------Media Query All - 991px --------------*/

@media all  and (max-device-width: 991px){
  .footer{
      display: none;

  }
}



