.navbar{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 100px;
}

img{
    height: 150px;
}

.date{
    margin-left: 250px;
    font-family: 'Wendy One', sans-serif;
    font-size: 100px;
    color: #4EC5C1;
}

.slogan{
    margin-left: 260px;
    font-family: 'Wendy One', sans-serif;
    font-size: 35px;
    color: #EC576B;
    margin-top: -35px;
}


.user-nav{
    list-style-type: none;
    margin-left: 320px;
    margin-top:5px;
    
}